.reset-noti-content {
	margin: 0px auto;
    text-align: center;
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* reset password css */
form.reset_form{
    border: 8px solid #f1f1f1;
    width: 40%; 
    margin: 0px auto;
    margin-top: 80px;
}

/* Full-width inputs */
input.reset_input[type=password], input.reset_input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* style for all buttons */
button.reset_button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* hover effect for buttons */
button.reset_button:hover {
    opacity: 0.8;
}

button.forgot_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button.forgot_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



/* Add padding to containers */
.container_reset {
    padding: 50px;
}

.inLine {
  padding: 1px;
}

