<table id="session-list" class="table table-hover">
    <thead>
        <tr>
            <th>Session #</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Venue</th>
            <th>Capacity</th>
            <th>Speaker</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-session-id="">
            <td colspan="8" data-toggle="modal" data-target="#event-session-modal">
                Add new session
            </td>
        </tr>
    </tbody>
</table>
