{% extends "base.html" %}
{% block content %}
<header class="body_background">
	<div class="jumbotron pull-right">
	 	<h1 class="display-4">Forgot your password?</h1>
	</div>
</header>

<div class="reset-noti-content">
	<form class="forgot_form" method="POST">
		<div class="container_reset">
			<label for="psw"><b>Enter User ID/Guest email:</b></label>
			<input class="forgot_input" placeholder="*" name="id" required>
			<button class="forgot_button" type="submit">Send reset link</button>
			<div class="inLine">
				{{ error }}
			</div>
		</div>
	</form>
</div>
{% endblock %}