{% extends "base.html" %}
{% block content %}
<header class="body_background">
	<div class="jumbotron pull-right">
	 	<h1 class="display-4">Reset your password</h1>
	</div>
</header>

<form action="action_page.php" class="reset_form" method="POST">

  <div class="container_reset">
    <label for="psw"><b>New Password</b></label>
    <input class="reset_input" type="password" placeholder="Enter Password" pattern="^\S{4,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 4 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" name={{ noPassUser }} required>

    <label for="con_psw"><b>Confirm Password</b></label>
    <input class="reset_input" type="password" placeholder="Enter Password" pattern="^\S{4,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" name="confirm_pass" required>
    
    <button class="reset_button" type="submit">Reset</button>
  </div>

</form>



{% endblock %}